In [5]:
# Add Matplotlib inline magic command.
%matplotlib inline

#Import dependencies.
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
# Load the files.
city_data_to_load = 'Resources/city_data.csv'
ride_data_to_load = 'Resources/ride_data.csv'

In [7]:
#Read the files.
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [21]:
# Inspect the city data DataFrame

In [8]:
# Get the columns and rows that are not null.
city_data_df.count()

city            120
driver_count    120
type            120
dtype: int64

In [12]:
# Get the columns and rows that are null.
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [13]:
# Get the data types of each column
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [14]:
# Get the unique values of the type of city.
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [17]:
# Get the number of data points from the Urban cities.
(city_data_df['type'] =='Urban').sum()

66

In [18]:
# Get the number of data points from the Suburban cities.
(city_data_df['type'] =='Suburban').sum()

36

In [19]:
# Get the number of data points from the Rural cities.
(city_data_df['type'] =='Rural').sum()

18

In [20]:
# Inspect the ride data DataFrame.

In [23]:
# Get the columns and rows that are not null.
ride_data_df.count()

city       2375
date       2375
fare       2375
ride_id    2375
dtype: int64

In [27]:
# Get the columns and rows that are null
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [28]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object